@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-content: flex-start;
}

main .marker-form {
  @include flexCenter(column);
  @include bgImageLinear;
  border-radius: 1%;
  padding: 100px;
  margin: 1vh;
  align-items: stretch;
}

@media only screen and (max-width: 1023px) {
  #new-marker-frm {
    @include flexCenter(column);
    padding: 5px 100px;
  }
}
