@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

#new-marker-frm {
    @include flexCenter(row);
    background-image: linear-gradient($angle, $bgColor1, $bgColor2);
    border-radius: 1%;
    padding: 100px;
    margin: 1vh;
 }

@media only screen and (max-width: 1023px) {
  #new-marker-frm {
    @include flexCenter(column);
  }
}
