header {
  font-family: "Indie Flower", cursive;
  font-size: 150%;
  button {
    font-size: inherit;
  }
  img {
    height: 72px;
    width: 72px;
    background-color: none;
  }

  .dropdown-menu {
    font-size: 150%;
    ul {
      position: relative;
      z-index: 1200;
    }
  }
}
