@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}


#listUl{
  width: 100%;
  @include flexCenter(column);
  margin: 0%;
  padding-left: 0%;
  .list-group-item-action{
    @include flexCenter(row);
    padding: 0 5vh;
    font-family: 'Courgette', ;
    justify-content: space-between;
    height: 5vh;
   &:hover {
     width: inherit;
     height: 7em;
   }
  }
}
.fa-heart{
 order: 1;
}


