// See: https://sass-lang.com/

@import "./variables";
@import "./map";
@import "./list";
@import "./header";
@import "./login";
@import "./forms";

body {
  background-color: #EEE;
  font-family: 'Indie Flower', cursive;
  h1 {
    color: #244751;
  }
}



