#map-container{
  position: relative;
top: 0;
left: 0;
}
 #mymap {
   position: relative;
top: 0;
left: 0;
   width: 400px;
   height: 400px;

 }
 #addMap{
   position: absolute;
   font-size: 40px;
   top: 85%;
   left: 5%;
   z-index: 10000000000 !important;
  }
